<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jason-web-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>servlet.Helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>servlet.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/helloform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session</servlet-name>
    <servlet-class>servlet.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>servlet.LogFilters</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AllFilter</filter-name>
    <filter-class>servlet.AllFilters</filter-class>
    <init-param>
      <param-name>param</param-name>
      <param-value>i am the second filter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AllFilter</filter-name>
    <url-pattern>/Helloworld</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>data</servlet-name>
    <servlet-class>servlet.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/get-data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>servlet.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
</web-app>